# Python Virtual Environments
.venv/
**/venv/
**/.venv/

# Python Bytecode & Cache
**/__pycache__/
*.py[cod]
.pytest_cache/

# Local Vector Database Store
**/chroma_db_store/

# IDE & OS Files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Archives
*.zip
